h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.markdown-editor{
    display: flex;
    /* border:2px solid red; */
}
.textarea ,.preview{
    border:2px solid black;
    margin:5px;
}
/* .textarea{
    width:40%;
    height:40%;
} */
.loading, textarea{
    /* border:2px solid */
    width:30vw;
    height:50vh;
    text-overflow: wrap;
}